In [2]:
import pandas as pd

with open('sat.trn') as f:
    data = f.readlines()

training_data =pd.DataFrame([list(map(int, line.split())) for line in data])

training_data.columns = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z',
               'aa','ab','ac','ad','ae','af','ag','ah','ai','aj','class']

training_data

,a,b,c,d,e,f,g,h,i,j,...,ab,ac,ad,ae,af,ag,ah,ai,aj,class
0,92,115,120,94,84,102,106,79,84,102,...,104,88,121,128,100,84,107,113,87,3
1,84,102,106,79,84,102,102,83,80,102,...,100,84,107,113,87,84,99,104,79,3
2,84,102,102,83,80,102,102,79,84,94,...,87,84,99,104,79,84,99,104,79,3
3,80,102,102,79,84,94,102,79,80,94,...,79,84,99,104,79,84,103,104,79,3
4,84,94,102,79,80,94,98,76,80,102,...,79,84,103,104,79,79,107,109,87,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4430,56,64,108,96,64,71,108,96,68,75,...,92,66,83,108,96,66,87,104,89,5
4431,64,71,108,96,68,75,108,96,71,87,...,96,66,87,104,89,63,87,104,89,5
4432,68,75,108,96,71,87,108,88,71,91,...,89,63,87,104,89,70,100,104,85,4
4433,71,87,108,88,71,91,100,81,76,95,...,89,70,100,104,85,70,91,104,85,4
4434,71,91,100,81,76,95,108,88,80,95,...,85,70,91,104,85,63,91,100,81,4

In [3]:
with open('sat.tst') as f:
    data = f.readlines()

test_data =pd.DataFrame([list(map(int, line.split())) for line in data])

test_data.columns = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z',
               'aa','ab','ac','ad','ae','af','ag','ah','ai','aj','class']

test_data

,a,b,c,d,e,f,g,h,i,j,...,ab,ac,ad,ae,af,ag,ah,ai,aj,class
0,80,102,102,79,76,102,102,79,76,102,...,87,79,107,109,87,79,107,113,87,3
1,76,102,102,79,76,102,106,83,76,102,...,87,79,107,113,87,79,103,104,83,3
2,80,98,106,79,76,94,102,76,76,94,...,79,79,95,100,79,79,95,96,75,4
3,76,94,102,76,76,94,102,76,76,94,...,79,79,95,96,75,79,95,100,75,4
4,76,94,102,76,76,94,102,76,76,89,...,75,79,95,100,75,75,95,100,79,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,60,83,96,85,64,87,100,88,64,83,...,92,66,87,108,89,63,83,104,85,1
1996,64,79,100,85,56,71,96,85,56,68,...,85,66,83,100,85,63,83,100,81,1
1997,56,68,91,81,56,64,91,81,53,64,...,81,59,87,96,81,63,83,92,74,5
1998,56,68,87,74,60,71,91,81,60,64,...,74,59,83,92,74,59,83,92,70,5
1999,60,71,91,81,60,64,104,99,56,64,...,74,59,83,92,70,63,79,108,92,5

In [5]:
x_train = training_data.iloc[:, :-1]

y_train = training_data.iloc[:,-1]

In [6]:
x_test = test_data.iloc[:, :-1]

y_test = test_data.iloc[:,-1]

In [7]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()

model.fit(x_train, y_train)

RandomForestClassifier()

In [8]:
predictions = model.predict(x_test)

In [9]:
predictions

array([3, 3, 4, ..., 5, 5, 5], dtype=int64)

In [11]:
from sklearn.metrics import accuracy_score

score = accuracy_score(y_test, predictions)

score

0.9095

In [13]:
pred_df = pd.DataFrame({'': test_data.iloc[:, 0], '': predictions})

pred_df

0     3
1     3
2     4
3     4
4     4
...  ..
1995  1
1996  1
1997  5
1998  5
1999  5

[2000 rows x 1 columns]

In [15]:
pred_df.to_csv('Task3-predictions.csv', header=False, index=False)